
MLP/.ipynb_checkpoints/ze_stronki_jedrka-checkpoint.ipynb
MLP/.ipynb_checkpoints/backpropagation-checkpoint.ipynb
MLP/.ipynb_checkpoints/lab2-checkpoint.ipynb
MLP/.ipynb_checkpoints/lab2_3-checkpoint.ipynb
MLP/.ipynb_checkpoints/lab3 - backpropagation-checkpoint.ipynb
MLP/.ipynb_checkpoints/lab3 - backpropagation-checkpoint.ipynb
MLP/.ipynb_checkpoints/Lab4-checkpoint.ipynb
MLP/.ipynb_checkpoints/MM_01_Lab_02-checkpoint.ipynb
